/* 全局样式全部写到这里 */
$test-color: #F00;

$header-background-color: #FFF;
$header-btn-color: #4353FF;
$header-btn-back-color: rgba(67, 83, 255, 0.1);
$header-btn-back-active-color: rgba(67, 83, 255, 0.2);
$header-content-color: #666;
